/**
 * *********************************************
 * Styling: Social Icons
 * *********************************************
 */
.icon-linkedin, .icon-rss, .icon-twitter, .icon-mail {
    background-repeat: no-repeat;
    background-position: left center;
}
.icon-linkedin {
    background-image: url("../images/site/icon/icon-linkedin.png");
}
.icon-rss {
    background-image: url("../images/site/icon/icon-rss.png");
}
.icon-twitter {
    background-image: url("../images/site/icon/icon-twitter.png");
}
.icon-mail {
    background-image: url("../images/site/icon/icon-mail.png");
}
/**
 * *********************************************
 * Styling: Title with the Borderline underneath
 * *********************************************
 */
.line-title {
    @include lineStyleTitle;
    > h2 {
        background-color: white;
        display: inline-block;
        font-size: 18px;
        padding-right: 10px;
        position: relative;
    }
}
/**
 * *********************************************
 * Styling: Main Content (Genernal)
 * *********************************************
 */
#content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    padding-top: 30px;
}
.main-content {
    max-width: 860px;
    > section {
        margin-top: 30px;
    }
    > section:first-child {
        margin-top: 0;
    }
    > section:last-child {
        margin-bottom: 60px;
    }
}
/**
 * *********************************************
 * Styling: Classified
 * *********************************************
 */
.classifields {
    > ul {
        li {
            float: left;
            height: 60px;
            margin-top: 20px;
            padding-left: 68px;
        }
        img {
            border: 1px solid black;
        }
    }
} 
/**
 * *********************************************
 * Methods Summary: Styling Latest News
 * *********************************************
 */
.latest-news-list {
    margin: 50px 0;
    > section {
        box-sizing: border-box;
        width: 50%;
    }
    > section:first-child {
        padding-right: 15px;
    }
    > section:last-child {
        padding-left: 15px;
    }

    figure {
        background-color: white;
        display: inline-block;
        padding-right: 10px;
        position: relative;
        top: 2px;
        > img {
            float: left;
            margin-right: 20px;
        }

    }
    figcaption {
        color: #0b3576;
        display: inline-block;
        font-size: 18px;
        height: 30px;
        line-height: 30px;
        position: relative;
        top: 8px;
    }

    ul {
        li {
            border-bottom: 1px solid #e6e6e6;
            padding: 15px 11px;
        }
        a {
            color: $lightBlue;
            font-weight: 600;
            text-decoration: none;
        }
    } 
}
/**
 * *********************************************
 * Styling: Button Read More
 * *********************************************
 */
.bt-viewmore {
    color: $darkBlue;
    display: block;
    font-size: 12px;
    text-align: right;
    margin-top: 17px;
}
/**
 * *********************************************
 * Styling: Breadcrums
 * *********************************************
 */
.breadcrum-wrapper {
    span {
        font-size: 18px;
        font-weight: 600;
    }
    > h2 {
        font-size: 24px;
        margin-top: 20px;
        text-transform: uppercase;
        color: $darkBlue;
        font-weight: 800;
    }
    &.opinion-listing {
        @include breadcrum-listing-color($opinion);
    }
    &.event-listing, &.job-listing {
        @include breadcrum-listing-color($event);
    }
    &.author-listing {
        @include breadcrum-listing-color($author);
        > span {
            color: #010101;
            font-weight: 500;
            display: inline-block;
            margin-top: 15px;
        }
    } 
} 
/**
 * *********************************************
 * Styling: Pagination
 * *********************************************
 */
.pagination-wrapper {
    text-align: center;
    max-width: 196px;
    margin-left: auto;
    margin-right: auto;
    > span {
        float:left;
    }
    a {
        display: block;
        color: black;
        font-size: 12px;
        font-weight: 700;
        line-height: 28px;
        width: 28px;
        height: 28px;
        &:hover {
            color: $lightBlue;
        }
    }
    > span:first-child {
        margin-left: 0;
    }
    .next-page a, .prev-page a {
        background-color: $borderLine;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 4px;
    }
    .next-page a:hover, .prev-page a:hover {
        background-color: $lightBlue;
    }
    .next-page a {
        background-image: url("../images/site/icon/icon-next.png");
    }
    .prev-page a {
        background-image: url("../images/site/icon/icon-prev.png");
    }
}