footer {
    margin: 0 auto;
    max-width: $defaultWidth;
}

.menu-col {
    float: left;
    max-width: 200px;
}
.footer-menu-wrapper {
    margin-top: 30px;
    > h2 {
        color: #5ba7e2;
        font-size: 14px;
        margin-top: 30px;
    }
    &:first-child {
        margin-top: 0;
        > h2 {
            margin-top: 0;
        }
    }
}

.footer-menu {
    margin-top: 15px;
    li {

    }
    a {
        color: black;
        display: inline-block;
        padding: 2px 0;
        text-decoration: none;
    }
}




.aspermont-clients-wrapper {
    margin-bottom: 18px;

    &.first-section {
        margin-top: 50px;
    }
    .line-title {
        margin-bottom: 17px;
    }
} 

.clients-list {
    margin-left: -14px;
    > li {
        float: left;
        height: 78px;
        margin-bottom: 13px;
        margin-left: 13px;
    }
    img {
        border: 1px solid black;
    }
} 

footer {
    .content-wrapper {
        padding-bottom: 50px;
        position: relative;
        figure {
            margin-right: 54px;
        }
        .content {
            position: relative;
            top: 48px;
            width: 770px;

            span {
                color: #173f7d;
                display: block;
                font-size: 13px;
                font-weight: 700;
                margin-bottom: 15px;
            }
        }
    }
}


