@font-face {
    font-family: 'gothic';
    src: url("../font/gothic.TTF");
    font-weight: normal;
}
@font-face {
    font-family: 'gothic';
    src: url("../font/gothic-bold.TTF");
    font-weight: bold;
}