@font-face {
    font-family: 'geogrotesque-reg';
    src: url("../font/geogrotesque-regular-webfont.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'geogrotesque-med';
    src: url("../font/geogrotesque-medium-webfont.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'geogrotesque-bold';
    src: url("../font/geogrotesque-semibold-webfont.ttf");
    font-weight: normal;
}
@font-face {
    font-family: 'WilkeLTStd';
    src: url('../font/wilkeltstd-roman.otf');
}