$portfolioOrange: #eebb71;

.portfolio-list {
    > li {
        clear: both;
        display: block;
        overflow: auto;
        margin-bottom: 15px;
        position: relative;

        img {
            float: left;
            margin-right: 2.5%;
            max-width: 630px;
            width: 70%;
        }
        div {
            position: absolute;
            right: 0;
            top: 50%;
            width: 27%;
        }
        h3 {
            color: #666666;
            font-size: 23px;
            text-transform: uppercase;
        }
        a {
            color: $portfolioOrange;
            display: block;
            font-size: 20px;
            font-weight: bold;
            margin-top: 5px;
        }
    }
    > li:last-child {
        margin-bottom: 0;
    }
}

.portfolio-title {
    color: #666666;
    font-size: 28px;
    margin-bottom: 15px;
    text-decoration: none;
    text-transform: uppercase;

    > span {
        color: $portfolioOrange;
        display: inline-block;
        margin-right: 5px;
    }
}

.image-gallery {
    width: 100%;
    li {
        float: left;
        width: 33.33%;
    }
    img {
        width: 100%;
    }
}

/* xxxxxxx Only Apply for Portfolio Page xxxxxxx */
@media screen and (max-width: 930px) {
    .portfolio-list {
        > li {
            border-bottom: 2.5px solid #666666;
            padding: 0 0 25px;

            img {
                width: 100%;
                max-width: 100%;
            }
            div {
                clear: both;
                display: block;
                position: relative;
                width: 100%;
            }
            h3 {
                font-size: 18px;
            }
        }

    }
}

/* xxxxxxx Reponsive only apply for Inner Portfolio page xxxxxxx */
@media screen and (max-width: 468px) {
    .image-gallery > li {
        float: none !important;
        width: 100%;
    }
}