.about-content-wrapper{
    min-height: 550px;
    margin-top:10px;
    .left-image-about-us {
        float: left;
    }
    .right-content-about-wrapper {
        float: left;
        width: 46%;
        margin-left: 15px;
        .right-title{
            color: #666666;
            font-size: 29px;
            font-weight: bold;
            text-decoration: none;
            text-transform: uppercase;
            display: inline;
            margin-bottom: 10px;
        }
        .right-content{
            margin-top: 15px;
        }
    }
}
@media screen and (max-width: 930px) {
    .about-content-wrapper{
        min-height: 550px;
        margin-top:10px;
        img{
            float: none !important;
            display: block;
            margin: 0 auto;
            max-width: 450px;
            height: auto;
            width: 100% !important;
        }
        .right-content-about-wrapper {
            float: none;
            display: block;
            margin: 10px auto;
            width: 100% !important;
            max-width: 450px;
            .right-title{
                font-size: 20px !important;
            }
        }
    }
}




