#content {
    .home-slider {
        img {
            height: auto;
            max-width: 900px;
            width: 100%;
        }
        span {
            display: block;
            padding: 10px 0;
            text-align: right;
        }
    }
}
