/*import prettyPhoto Library*/
/* ------------------------------------------------------------------------ This you can edit.
------------------------------------------------------------------------- */
/* ---------------------------------- Default Theme
----------------------------------- */
div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right { height: 13px; }

div.pp_default .pp_top .pp_left { background: url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat; }

/* Top left corner */
div.pp_default .pp_top .pp_middle { background: url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x; }

/* Top pattern/color */
div.pp_default .pp_top .pp_right { background: url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat; }

/* Top right corner */
div.pp_default .pp_content .ppt { color: #f8f8f8; }

div.pp_default .pp_content_container .pp_left { background: url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y; padding-left: 13px; }

div.pp_default .pp_content_container .pp_right { background: url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y; padding-right: 13px; }

div.pp_default .pp_content { background-color: #fff; }

/* Content background */
div.pp_default .pp_next:hover { background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.pp_default .pp_previous:hover { background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.pp_default .pp_expand { background: url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat; cursor: pointer; width: 28px; height: 28px; }

/* Expand button */
div.pp_default .pp_expand:hover { background: url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat; cursor: pointer; }

/* Expand button hover */
div.pp_default .pp_contract { background: url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat; cursor: pointer; width: 28px; height: 28px; }

/* Contract button */
div.pp_default .pp_contract:hover { background: url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat; cursor: pointer; }

/* Contract button hover */
div.pp_default .pp_close { width: 30px; height: 30px; background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor: pointer; }

/* Close button */
div.pp_default #pp_full_res .pp_inline { color: #000; }

div.pp_default .pp_gallery ul li a { background: url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8; border: 1px solid #aaa; }

div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a { border-color: #fff; }

div.pp_default .pp_social { margin-top: 7px; }

div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next { position: static; left: auto; }

div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause { background: url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat; height: 30px; width: 30px; }

div.pp_default .pp_nav .pp_pause { background-position: -51px -29px; }

div.pp_default .pp_details { position: relative; }

div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next { background: url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat; height: 20px; margin: 4px 0 0 0; width: 20px; }

div.pp_default a.pp_arrow_next { left: 52px; background-position: -82px -3px; }

/* The next arrow in the bottom nav */
div.pp_default .pp_content_container .pp_details { margin-top: 5px; }

div.pp_default .pp_nav { clear: none; height: 30px; width: 110px; position: relative; }

div.pp_default .pp_nav .currentTextHolder { font-family: Georgia; font-style: italic; color: #999; font-size: 11px; left: 75px; line-height: 25px; margin: 0; padding: 0 0 0 10px; position: absolute; top: 2px; }

div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover { opacity: 0.7; }

div.pp_default .pp_description { font-size: 11px; font-weight: bold; line-height: 14px; margin: 5px 50px 5px 0; }

div.pp_default .pp_bottom .pp_left { background: url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat; }

/* Bottom left corner */
div.pp_default .pp_bottom .pp_middle { background: url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x; }

/* Bottom pattern/color */
div.pp_default .pp_bottom .pp_right { background: url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat; }

/* Bottom right corner */
div.pp_default .pp_loaderIcon { background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Light Rounded Theme
----------------------------------- */
div.light_rounded .pp_top .pp_left { background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.light_rounded .pp_top .pp_middle { background: #fff; }

/* Top pattern/color */
div.light_rounded .pp_top .pp_right { background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.light_rounded .pp_content .ppt { color: #000; }

div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right { background: #fff; }

div.light_rounded .pp_content { background-color: #fff; }

/* Content background */
div.light_rounded .pp_next:hover { background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.light_rounded .pp_previous:hover { background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.light_rounded .pp_expand { background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.light_rounded .pp_expand:hover { background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.light_rounded .pp_contract { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.light_rounded .pp_contract:hover { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.light_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.light_rounded .pp_details { position: relative; }

div.light_rounded .pp_description { margin-right: 85px; }

div.light_rounded #pp_full_res .pp_inline { color: #000; }

div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.light_rounded .pp_nav .pp_play { background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_nav .pp_pause { background: url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_arrow_previous { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.light_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.light_rounded .pp_arrow_next { background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.light_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.light_rounded .pp_bottom .pp_left { background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.light_rounded .pp_bottom .pp_middle { background: #fff; }

/* Bottom pattern/color */
div.light_rounded .pp_bottom .pp_right { background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
div.light_rounded .pp_loaderIcon { background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Dark Rounded Theme
----------------------------------- */
div.dark_rounded .pp_top .pp_left { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.dark_rounded .pp_top .pp_middle { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Top pattern/color */
div.dark_rounded .pp_top .pp_right { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.dark_rounded .pp_content_container .pp_left { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y; }

/* Left Content background */
div.dark_rounded .pp_content_container .pp_right { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y; }

/* Right Content background */
div.dark_rounded .pp_content { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Content background */
div.dark_rounded .pp_next:hover { background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.dark_rounded .pp_previous:hover { background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.dark_rounded .pp_expand { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.dark_rounded .pp_expand:hover { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.dark_rounded .pp_contract { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.dark_rounded .pp_contract:hover { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.dark_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.dark_rounded .pp_details { position: relative; }

div.dark_rounded .pp_description { margin-right: 85px; }

div.dark_rounded .currentTextHolder { color: #c4c4c4; }

div.dark_rounded .pp_description { color: #fff; }

div.dark_rounded #pp_full_res .pp_inline { color: #fff; }

div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.dark_rounded .pp_nav .pp_play { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_nav .pp_pause { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_arrow_previous { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.dark_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.dark_rounded .pp_arrow_next { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.dark_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.dark_rounded .pp_bottom .pp_left { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.dark_rounded .pp_bottom .pp_middle { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Bottom pattern/color */
div.dark_rounded .pp_bottom .pp_right { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
div.dark_rounded .pp_loaderIcon { background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Dark Square Theme
----------------------------------- */
div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content { background: #000; }

div.dark_square .currentTextHolder { color: #c4c4c4; }

div.dark_square .pp_description { color: #fff; }

div.dark_square .pp_loaderIcon { background: url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat; }

/* Loader icon */
div.dark_square .pp_expand { background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.dark_square .pp_expand:hover { background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.dark_square .pp_contract { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.dark_square .pp_contract:hover { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.dark_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.dark_square .pp_details { position: relative; }

div.dark_square .pp_description { margin: 0 85px 0 0; }

div.dark_square #pp_full_res .pp_inline { color: #fff; }

div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.dark_square .pp_nav { clear: none; }

div.dark_square .pp_nav .pp_play { background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_nav .pp_pause { background: url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_arrow_previous { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.dark_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.dark_square .pp_arrow_next { background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.dark_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.dark_square .pp_next:hover { background: url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.dark_square .pp_previous:hover { background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
/* ---------------------------------- Light Square Theme
----------------------------------- */
div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content { background: #fff; }

div.light_square .pp_content .ppt { color: #000; }

div.light_square .pp_expand { background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.light_square .pp_expand:hover { background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.light_square .pp_contract { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.light_square .pp_contract:hover { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.light_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.light_square .pp_details { position: relative; }

div.light_square .pp_description { margin-right: 85px; }

div.light_square #pp_full_res .pp_inline { color: #000; }

div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.light_square .pp_nav .pp_play { background: url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_nav .pp_pause { background: url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_arrow_previous { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.light_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.light_square .pp_arrow_next { background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.light_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.light_square .pp_next:hover { background: url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.light_square .pp_previous:hover { background: url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.light_square .pp_loaderIcon { background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Facebook style Theme
----------------------------------- */
div.facebook .pp_top .pp_left { background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.facebook .pp_top .pp_middle { background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x; }

/* Top pattern/color */
div.facebook .pp_top .pp_right { background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.facebook .pp_content .ppt { color: #000; }

div.facebook .pp_content_container .pp_left { background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y; }

/* Content background */
div.facebook .pp_content_container .pp_right { background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y; }

/* Content background */
div.facebook .pp_content { background: #fff; }

/* Content background */
div.facebook .pp_expand { background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.facebook .pp_expand:hover { background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.facebook .pp_contract { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.facebook .pp_contract:hover { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.facebook .pp_close { width: 22px; height: 22px; background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.facebook .pp_details { position: relative; }

div.facebook .pp_description { margin: 0 37px 0 0; }

div.facebook #pp_full_res .pp_inline { color: #000; }

div.facebook .pp_loaderIcon { background: url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat; }

/* Loader icon */
div.facebook .pp_arrow_previous { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

/* The previous arrow in the bottom nav */
div.facebook .pp_arrow_previous.disabled { background-position: 0 -96px; cursor: default; }

div.facebook .pp_arrow_next { background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

/* The next arrow in the bottom nav */
div.facebook .pp_arrow_next.disabled { background-position: -32px -96px; cursor: default; }

div.facebook .pp_nav { margin-top: 0; }

div.facebook .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }

div.facebook .pp_nav .pp_play { background: url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_nav .pp_pause { background: url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_next:hover { background: url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.facebook .pp_previous:hover { background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.facebook .pp_bottom .pp_left { background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.facebook .pp_bottom .pp_middle { background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x; }

/* Bottom pattern/color */
div.facebook .pp_bottom .pp_right { background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
/* ------------------------------------------------------------------------ DO NOT CHANGE
------------------------------------------------------------------------- */
div.pp_pic_holder a:focus { outline: none; }

div.pp_overlay { background: #000; display: none; left: 0; position: absolute; top: 0; width: 100%; z-index: 9500; }

div.pp_pic_holder { display: none; position: absolute; width: 100px; z-index: 10000; }

.pp_top { height: 20px; position: relative; }

* html .pp_top { padding: 0 20px; }

.pp_top .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }

.pp_top .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }

* html .pp_top .pp_middle { left: 0; position: static; }

.pp_top .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }

.pp_content { height: 40px; min-width: 40px; }

* html .pp_content { width: 40px; }

.pp_fade { display: none; }

.pp_content_container { position: relative; text-align: left; width: 100%; }

.pp_content_container .pp_left { padding-left: 20px; }

.pp_content_container .pp_right { padding-right: 20px; }

.pp_content_container .pp_details { float: left; margin: 10px 0 2px 0; }

.pp_description { display: none; margin: 0; }

.pp_social { float: left; margin: 0; }

.pp_social .facebook { float: left; margin-left: 5px; width: 55px; overflow: hidden; }

.pp_social .twitter { float: left; }

.pp_nav { clear: right; float: left; margin: 3px 10px 0 0; }

.pp_nav p { float: left; margin: 2px 4px; white-space: nowrap; }

.pp_nav .pp_play, .pp_nav .pp_pause { float: left; margin-right: 4px; text-indent: -10000px; }

a.pp_arrow_previous, a.pp_arrow_next { display: block; float: left; height: 15px; margin-top: 3px; overflow: hidden; text-indent: -10000px; width: 14px; }

.pp_hoverContainer { position: absolute; top: 0; width: 100%; z-index: 2000; }

.pp_gallery { display: none; left: 50%; margin-top: -50px; position: absolute; z-index: 10000; }

.pp_gallery div { float: left; overflow: hidden; position: relative; }

.pp_gallery ul { float: left; height: 35px; margin: 0 0 0 5px; padding: 0; position: relative; white-space: nowrap; }

.pp_gallery ul a { border: 1px #000 solid; border: 1px rgba(0, 0, 0, 0.5) solid; display: block; float: left; height: 33px; overflow: hidden; }

.pp_gallery ul a:hover, .pp_gallery li.selected a { border-color: #fff; }

.pp_gallery ul a img { border: 0; }

.pp_gallery li { display: block; float: left; margin: 0 5px 0 0; padding: 0; }

.pp_gallery li.default a { background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat; display: block; height: 33px; width: 50px; }

.pp_gallery li.default a img { display: none; }

.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next { margin-top: 7px !important; }

a.pp_next { background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: right; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_previous { background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: left; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_expand, a.pp_contract { cursor: pointer; display: none; height: 20px; position: absolute; right: 30px; text-indent: -10000px; top: 10px; width: 20px; z-index: 20000; }

a.pp_close { position: absolute; right: 0; top: 0; display: block; line-height: 22px; text-indent: -10000px; }

.pp_bottom { height: 20px; position: relative; }

* html .pp_bottom { padding: 0 20px; }

.pp_bottom .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }

.pp_bottom .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }

* html .pp_bottom .pp_middle { left: 0; position: static; }

.pp_bottom .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }

.pp_loaderIcon { display: block; height: 24px; left: 50%; margin: -12px 0 0 -12px; position: absolute; top: 50%; width: 24px; }

#pp_full_res { line-height: 1 !important; }

#pp_full_res .pp_inline { text-align: left; }

#pp_full_res .pp_inline p { margin: 0 0 15px 0; }

div.ppt { color: #fff; display: none; font-size: 17px; margin: 0 0 5px 15px; z-index: 9999; }

/*import bxSlider Library*/
.bx-wrapper { margin: 0 auto 60px; padding: 0; position: relative; }

.bx-wrapper img { display: block; margin: 0 auto; max-width: 100%; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: -30px; position: absolute; width: 100%; }

.bx-wrapper .bx-loading { background: url("../images/bxslider/bx_loader.gif") no-repeat scroll center center white; height: 100%; left: 0; min-height: 50px; position: absolute; top: 0; width: 100%; z-index: 2000; }

.bx-wrapper .bx-pager { color: #666666; font-family: Arial; font-size: 0.85em; font-weight: bold; padding-top: 20px; text-align: center; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; }

.bx-wrapper .bx-pager.bx-default-pager a { background: none repeat scroll 0 0 #666666; border-radius: 50%; display: block; height: 15px; margin: 0 5px; outline: 0 none; text-indent: -9999px; width: 15px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: none repeat scroll 0 0 #000000; }

.bx-wrapper .bx-prev { background: url("../images/bxslider/controls.png") no-repeat scroll 0 -32px transparent; left: 10px; }

.bx-wrapper .bx-next { background: url("../images/bxslider/controls.png") no-repeat scroll -43px -32px transparent; right: 10px; }

.bx-wrapper .bx-prev:hover { background-position: 0 0; }

.bx-wrapper .bx-next:hover { background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a { height: 32px; margin-top: -16px; outline: 0 none; position: absolute; text-indent: -9999px; top: 50%; width: 32px; z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { background: url("../images/bxslider/controls.png") no-repeat scroll -86px -11px transparent; display: block; height: 11px; margin: 0 3px; outline: 0 none; text-indent: -9999px; width: 10px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { background: url("../images/bxslider/controls.png") no-repeat scroll -86px -44px transparent; display: block; height: 11px; margin: 0 3px; outline: 0 none; text-indent: -9999px; width: 9px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

.bx-wrapper .bx-caption { background: none repeat scroll 0 0 rgba(80, 80, 80, 0.75); bottom: 0; left: 0; position: absolute; width: 100%; }

.bx-wrapper .bx-caption span { color: #FFFFFF; display: block; font-family: Arial; font-size: 0.85em; padding: 10px; }

/*import reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

p { font-size: 14px; line-height: 20px; }

h1, h2, h3, h4, h5, h6 { font-weight: bold; }

/*import website style*/
.clear { clear: both; }

a { color: black; text-decoration: none; }

body { color: black; font-family: Arial,Helvetica,sans-serif; font-size: 14px; }

.social-nav { float: right; position: relative; top: -15px; }
.social-nav > li:first-child { margin-left: 0; }
.social-nav > li { float: left; margin-left: 3px; }

#wrapper { margin: 0 auto; max-width: 900px; padding-top: 20px; width: 90%; }

#header { border-bottom: 1px dotted silver; padding-bottom: 10px; position: relative; }
#header .logo { float: left; }
#header .main-nav-wrapper { float: right; }
#header .main-nav-wrapper .toggle-main-nav { display: none; }
#header .main-nav > li:first-child { margin-left: 0; }
#header .main-nav > li { float: left; line-height: 67px; margin-left: 13px; }
#header .main-nav a { color: #666666; font-size: 14px; font-weight: bold; text-decoration: none; text-transform: uppercase; }

#content { padding-top: 20px; }
#content .title { border-bottom: 3px solid #666666; color: #666666; font-size: 28px; margin-bottom: 10px; padding-bottom: 5px; text-decoration: none; text-transform: uppercase; }

#footer { padding: 50px 0 20px; }
#footer > span { display: block; text-align: center; }

@media screen and (max-width: 930px) { #wrapper { max-width: 768px; }
  #header .logo { display: block; float: none; margin: 0 auto; }
  #header .main-nav-wrapper { background-color: black; border-radius: 10px; box-sizing: border-box; height: 47px; padding: 0; width: 100%; }
  #header .main-nav-wrapper .toggle-main-nav { display: block; height: 32px; padding: 7px 0; position: relative; right: 0; text-align: right; }
  #header .main-nav-wrapper .toggle-main-nav > img { cursor: pointer; margin-right: 10px; }
  #header .main-nav { background-color: #050505; border-top: 1px dashed white; box-sizing: border-box; display: none; position: relative; top: -5px; width: 100% !important; z-index: 99997; }
  #header .main-nav > li { border-bottom: 1px dashed white; display: block; float: none !important; line-height: 47px !important; margin-left: 0 !important; padding-left: 15px; }
  #header .main-nav a { color: white !important; display: block; }
  #header .main-nav > li:hover { background-color: white; }
  #header .main-nav > li:hover a { color: black !important; }
  #header .social-nav { margin-top: 5px; top: 0; }
  #content .title { font-size: 20px; } }
/*import page Home*/
#content .home-slider img { height: auto; max-width: 900px; width: 100%; }
#content .home-slider span { display: block; padding: 10px 0; text-align: right; }

/*import page About Us*/
.about-us-content-wrapper { min-height: 550px; margin-top: 10px; }
.about-us-content-wrapper .img-about-us { box-shadow: 0 0 15px black; display: block; float: left; height: auto; margin-right: 2.5%; max-width: 450px; width: 50%; }
.about-us-content-wrapper .content-about-us { float: right; width: 45%; text-align: justify; }
.about-us-content-wrapper .content-about-us > p { margin-top: 15px; }

@media screen and (max-width: 930px) { .about-us-content-wrapper .img-about-us { float: none; margin: 0 auto 25px; width: 100%; }
  .about-us-content-wrapper .content-about-us { float: none; display: block; margin: 10px auto; width: 100% !important; max-width: 450px; } }
/*import page Exhibitions*/
.exhibitions-content-wrapper { width: 100%; }
.exhibitions-content-wrapper .upcoming-exhibitions, .exhibitions-content-wrapper .previous-exhibitions { width: 100%; }
.exhibitions-content-wrapper .upcoming-exhibitions .upcoming-title, .exhibitions-content-wrapper .previous-exhibitions .upcoming-title, .exhibitions-content-wrapper .previous-exhibitions .previous-title { color: #666666; font-size: 38px; font-weight: bold; text-decoration: none; text-transform: uppercase; margin-bottom: 15px; }
.exhibitions-content-wrapper .upcoming-exhibitions ul li, .exhibitions-content-wrapper .previous-exhibitions ul li { margin-top: 30px; }
.exhibitions-content-wrapper .upcoming-exhibitions ul li img, .exhibitions-content-wrapper .previous-exhibitions ul li img { padding-right: 5px; border-right: 1px solid #C6C7C6; float: left; }
.exhibitions-content-wrapper .upcoming-exhibitions ul li .right-content, .exhibitions-content-wrapper .previous-exhibitions ul li .right-content { margin-left: 15px; float: left; margin-top: 20px; }
.exhibitions-content-wrapper .upcoming-exhibitions ul li .right-content .title, .exhibitions-content-wrapper .previous-exhibitions ul li .right-content .title { color: #000000; font-size: 20px; font-weight: bold; text-decoration: none; text-transform: uppercase; }
.exhibitions-content-wrapper .upcoming-exhibitions ul li .right-content .content span, .exhibitions-content-wrapper .previous-exhibitions ul li .right-content .content span { font-size: 16px; }
.exhibitions-content-wrapper .previous-exhibitions { margin-top: 20px; }

@media screen and (max-width: 930px) { .upcoming-exhibitions ul li img, .exhibitions-content-wrapper .previous-exhibitions ul li img { float: none !important; border: none !important; display: block; }
  .upcoming-exhibitions ul li .right-content, .exhibitions-content-wrapper .previous-exhibitions ul li .right-content { float: none !important; margin-left: 0 !important; } }
/*import page Portfolio*/
.portfolio-list > li { clear: both; display: block; overflow: auto; margin-bottom: 15px; position: relative; }
.portfolio-list > li img { float: left; margin-right: 2.5%; max-width: 630px; width: 70%; }
.portfolio-list > li div { position: absolute; right: 0; top: 50%; width: 27%; }
.portfolio-list > li h3 { color: #666666; font-size: 25px; text-transform: uppercase; }
.portfolio-list > li a { color: #eebb71; display: block; font-size: 22px; font-weight: bold; margin-top: 5px; }
.portfolio-list > li:last-child { margin-bottom: 0; }

/*import page Mailing List*/
.mailing-content-wrapper { width: 100%; }
.mailing-content-wrapper .left-content-mailing-wrapper { float: left; width: 45%; }
.mailing-content-wrapper .left-content-mailing-wrapper .title { color: #666666; font-size: 30px; font-weight: bold; text-decoration: none; text-transform: uppercase; }
.mailing-content-wrapper .left-content-mailing-wrapper .mailing-info { margin-top: 10px; width: 86%; }
.mailing-content-wrapper .left-content-mailing-wrapper .mailing-info p { font-family: Arial, Helvetica, sans-serif; font-size: 12px; margin-left: 3px; margin-top: 5px; text-align: justify; }
.mailing-content-wrapper .left-content-mailing-wrapper .mailing-info p span { font-family: "Arial Black", Gadget, sans-serif; }
.mailing-content-wrapper .left-content-mailing-wrapper .mailing-info p a { color: #999; text-decoration: underline; margin-left: 2px; }

@media screen and (max-width: 930px) { .mailing-content-wrapper { width: 100%; }
  .mailing-content-wrapper .left-content-mailing-wrapper { float: none; width: 100% !important; }
  .mailing-content-wrapper .img-contact-us { float: none; width: 100% !important; max-width: 475px; height: auto; } }
/*import page Contact Us*/
.contact-us-content-wrapper .social-nav { float: none; top: 0; }
.contact-us-content-wrapper .social-nav > li img { width: 30px; height: 30px; }
.contact-us-content-wrapper .img-contact-us { box-shadow: 0 0 15px black; float: right; height: auto; max-width: 434px; width: 45%; }

.content-contact-us-wrapper { float: left; width: 50%; }

.contact-info { margin-top: 10px; }
.contact-info p { font-family: Arial, Helvetica, sans-serif; }
.contact-info p span { font-family: "Arial Black", Gadget, sans-serif; margin-right: 5px; }
.contact-info p a { text-decoration: underline; }

@media screen and (max-width: 930px) { .contact-us-content-wrapper .content-contact-us-wrapper { float: none; display: block; width: 100% !important; }
  .contact-us-content-wrapper .img-contact-us { float: none; display: block; margin: 30px auto 0; } }
