/** ********************************************* Methods Summary: Sass Variables ********************************************* */
/** ********************************************* Variables ********************************************* */
/*base colors*/
/*section colors*/
/*listing sections*/
/* Job Listing, Event Listing*/
/*other variables*/
/** ********************************************* Variables: Mixins ********************************************* */
/** ********************************************* Import: Reset Css ********************************************* */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font-family: 'Open Sans'; font-size: 14px; line-height: 20px; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; }

b { font-weight: 600; }

li, a, img { transition: all 0.5s; -webkit-transition: all 0.5s; }

.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clear { clear: both; }

.goLeft { float: left; }

.goRight { float: right; }

input { outline: none; }

input:focus { outline: none; }

input:out-of-range { outline: none; }

div, section, header, footer { width: 100%; }

a { text-decoration: none; cursor: pointer; }

h3 { font-size: 18px; }

/** ********************************************* Import: Website Components ********************************************* */
.bx-wrapper { margin: 0 auto 60px; padding: 0; position: relative; }

.bx-wrapper img { display: block; margin: 0 auto; max-width: 100%; }

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: -30px; position: absolute; width: 100%; }

.bx-wrapper .bx-loading { background: url("../images/bxslider/bx_loader.gif") no-repeat scroll center center white; height: 100%; left: 0; min-height: 50px; position: absolute; top: 0; width: 100%; z-index: 2000; }

.bx-wrapper .bx-pager { color: #666666; font-family: Arial; font-size: 0.85em; font-weight: bold; padding-top: 20px; text-align: center; }

.bx-wrapper .bx-pager .bx-pager-item, .bx-wrapper .bx-controls-auto .bx-controls-auto-item { display: inline-block; }

.bx-wrapper .bx-pager.bx-default-pager a { background: none repeat scroll 0 0 #666666; border-radius: 50%; display: block; height: 15px; margin: 0 5px; outline: 0 none; text-indent: -9999px; width: 15px; }

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active { background: none repeat scroll 0 0 #000000; }

.bx-wrapper .bx-prev { background: url("../images/bxslider/controls.png") no-repeat scroll 0 -32px transparent; left: 10px; }

.bx-wrapper .bx-next { background: url("../images/bxslider/controls.png") no-repeat scroll -43px -32px transparent; right: 10px; }

.bx-wrapper .bx-prev:hover { background-position: 0 0; }

.bx-wrapper .bx-next:hover { background-position: -43px 0; }

.bx-wrapper .bx-controls-direction a { height: 32px; margin-top: -16px; outline: 0 none; position: absolute; text-indent: -9999px; top: 50%; width: 32px; z-index: 9999; }

.bx-wrapper .bx-controls-direction a.disabled { display: none; }

.bx-wrapper .bx-controls-auto { text-align: center; }

.bx-wrapper .bx-controls-auto .bx-start { background: url("../images/bxslider/controls.png") no-repeat scroll -86px -11px transparent; display: block; height: 11px; margin: 0 3px; outline: 0 none; text-indent: -9999px; width: 10px; }

.bx-wrapper .bx-controls-auto .bx-start:hover, .bx-wrapper .bx-controls-auto .bx-start.active { background-position: -86px 0; }

.bx-wrapper .bx-controls-auto .bx-stop { background: url("../images/bxslider/controls.png") no-repeat scroll -86px -44px transparent; display: block; height: 11px; margin: 0 3px; outline: 0 none; text-indent: -9999px; width: 9px; }

.bx-wrapper .bx-controls-auto .bx-stop:hover, .bx-wrapper .bx-controls-auto .bx-stop.active { background-position: -86px -33px; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager { text-align: left; width: 80%; }

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto { right: 0; width: 35px; }

.bx-wrapper .bx-caption { background: none repeat scroll 0 0 rgba(80, 80, 80, 0.75); bottom: 0; left: 0; position: absolute; width: 100%; }

.bx-wrapper .bx-caption span { color: #FFFFFF; display: block; font-family: Arial; font-size: 0.85em; padding: 10px; }

/* ------------------------------------------------------------------------ This you can edit.
------------------------------------------------------------------------- */
/* ---------------------------------- Default Theme
----------------------------------- */
div.pp_default .pp_top, div.pp_default .pp_top .pp_middle, div.pp_default .pp_top .pp_left, div.pp_default .pp_top .pp_right, div.pp_default .pp_bottom, div.pp_default .pp_bottom .pp_left, div.pp_default .pp_bottom .pp_middle, div.pp_default .pp_bottom .pp_right { height: 13px; }

div.pp_default .pp_top .pp_left { background: url(../images/prettyPhoto/default/sprite.png) -78px -93px no-repeat; }

/* Top left corner */
div.pp_default .pp_top .pp_middle { background: url(../images/prettyPhoto/default/sprite_x.png) top left repeat-x; }

/* Top pattern/color */
div.pp_default .pp_top .pp_right { background: url(../images/prettyPhoto/default/sprite.png) -112px -93px no-repeat; }

/* Top right corner */
div.pp_default .pp_content .ppt { color: #f8f8f8; }

div.pp_default .pp_content_container .pp_left { background: url(../images/prettyPhoto/default/sprite_y.png) -7px 0 repeat-y; padding-left: 13px; }

div.pp_default .pp_content_container .pp_right { background: url(../images/prettyPhoto/default/sprite_y.png) top right repeat-y; padding-right: 13px; }

div.pp_default .pp_content { background-color: #fff; }

/* Content background */
div.pp_default .pp_next:hover { background: url(../images/prettyPhoto/default/sprite_next.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.pp_default .pp_previous:hover { background: url(../images/prettyPhoto/default/sprite_prev.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.pp_default .pp_expand { background: url(../images/prettyPhoto/default/sprite.png) 0 -29px no-repeat; cursor: pointer; width: 28px; height: 28px; }

/* Expand button */
div.pp_default .pp_expand:hover { background: url(../images/prettyPhoto/default/sprite.png) 0 -56px no-repeat; cursor: pointer; }

/* Expand button hover */
div.pp_default .pp_contract { background: url(../images/prettyPhoto/default/sprite.png) 0 -84px no-repeat; cursor: pointer; width: 28px; height: 28px; }

/* Contract button */
div.pp_default .pp_contract:hover { background: url(../images/prettyPhoto/default/sprite.png) 0 -113px no-repeat; cursor: pointer; }

/* Contract button hover */
div.pp_default .pp_close { width: 30px; height: 30px; background: url(../images/prettyPhoto/default/sprite.png) 2px 1px no-repeat; cursor: pointer; }

/* Close button */
div.pp_default #pp_full_res .pp_inline { color: #000; }

div.pp_default .pp_gallery ul li a { background: url(../images/prettyPhoto/default/default_thumb.png) center center #f8f8f8; border: 1px solid #aaa; }

div.pp_default .pp_gallery ul li a:hover, div.pp_default .pp_gallery ul li.selected a { border-color: #fff; }

div.pp_default .pp_social { margin-top: 7px; }

div.pp_default .pp_gallery a.pp_arrow_previous, div.pp_default .pp_gallery a.pp_arrow_next { position: static; left: auto; }

div.pp_default .pp_nav .pp_play, div.pp_default .pp_nav .pp_pause { background: url(../images/prettyPhoto/default/sprite.png) -51px 1px no-repeat; height: 30px; width: 30px; }

div.pp_default .pp_nav .pp_pause { background-position: -51px -29px; }

div.pp_default .pp_details { position: relative; }

div.pp_default a.pp_arrow_previous, div.pp_default a.pp_arrow_next { background: url(../images/prettyPhoto/default/sprite.png) -31px -3px no-repeat; height: 20px; margin: 4px 0 0 0; width: 20px; }

div.pp_default a.pp_arrow_next { left: 52px; background-position: -82px -3px; }

/* The next arrow in the bottom nav */
div.pp_default .pp_content_container .pp_details { margin-top: 5px; }

div.pp_default .pp_nav { clear: none; height: 30px; width: 110px; position: relative; }

div.pp_default .pp_nav .currentTextHolder { font-family: Georgia; font-style: italic; color: #999; font-size: 11px; left: 75px; line-height: 25px; margin: 0; padding: 0 0 0 10px; position: absolute; top: 2px; }

div.pp_default .pp_close:hover, div.pp_default .pp_nav .pp_play:hover, div.pp_default .pp_nav .pp_pause:hover, div.pp_default .pp_arrow_next:hover, div.pp_default .pp_arrow_previous:hover { opacity: 0.7; }

div.pp_default .pp_description { font-size: 11px; font-weight: bold; line-height: 14px; margin: 5px 50px 5px 0; }

div.pp_default .pp_bottom .pp_left { background: url(../images/prettyPhoto/default/sprite.png) -78px -127px no-repeat; }

/* Bottom left corner */
div.pp_default .pp_bottom .pp_middle { background: url(../images/prettyPhoto/default/sprite_x.png) bottom left repeat-x; }

/* Bottom pattern/color */
div.pp_default .pp_bottom .pp_right { background: url(../images/prettyPhoto/default/sprite.png) -112px -127px no-repeat; }

/* Bottom right corner */
div.pp_default .pp_loaderIcon { background: url(../images/prettyPhoto/default/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Light Rounded Theme
----------------------------------- */
div.light_rounded .pp_top .pp_left { background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.light_rounded .pp_top .pp_middle { background: #fff; }

/* Top pattern/color */
div.light_rounded .pp_top .pp_right { background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.light_rounded .pp_content .ppt { color: #000; }

div.light_rounded .pp_content_container .pp_left, div.light_rounded .pp_content_container .pp_right { background: #fff; }

div.light_rounded .pp_content { background-color: #fff; }

/* Content background */
div.light_rounded .pp_next:hover { background: url(../images/prettyPhoto/light_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.light_rounded .pp_previous:hover { background: url(../images/prettyPhoto/light_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.light_rounded .pp_expand { background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.light_rounded .pp_expand:hover { background: url(../images/prettyPhoto/light_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.light_rounded .pp_contract { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.light_rounded .pp_contract:hover { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.light_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.light_rounded .pp_details { position: relative; }

div.light_rounded .pp_description { margin-right: 85px; }

div.light_rounded #pp_full_res .pp_inline { color: #000; }

div.light_rounded .pp_gallery a.pp_arrow_previous, div.light_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.light_rounded .pp_nav .pp_play { background: url(../images/prettyPhoto/light_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_nav .pp_pause { background: url(../images/prettyPhoto/light_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_rounded .pp_arrow_previous { background: url(../images/prettyPhoto/light_rounded/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.light_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.light_rounded .pp_arrow_next { background: url(../images/prettyPhoto/light_rounded/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.light_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.light_rounded .pp_bottom .pp_left { background: url(../images/prettyPhoto/light_rounded/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.light_rounded .pp_bottom .pp_middle { background: #fff; }

/* Bottom pattern/color */
div.light_rounded .pp_bottom .pp_right { background: url(../images/prettyPhoto/light_rounded/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
div.light_rounded .pp_loaderIcon { background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Dark Rounded Theme
----------------------------------- */
div.dark_rounded .pp_top .pp_left { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.dark_rounded .pp_top .pp_middle { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Top pattern/color */
div.dark_rounded .pp_top .pp_right { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.dark_rounded .pp_content_container .pp_left { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat-y; }

/* Left Content background */
div.dark_rounded .pp_content_container .pp_right { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top right repeat-y; }

/* Right Content background */
div.dark_rounded .pp_content { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Content background */
div.dark_rounded .pp_next:hover { background: url(../images/prettyPhoto/dark_rounded/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.dark_rounded .pp_previous:hover { background: url(../images/prettyPhoto/dark_rounded/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.dark_rounded .pp_expand { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.dark_rounded .pp_expand:hover { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.dark_rounded .pp_contract { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.dark_rounded .pp_contract:hover { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.dark_rounded .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.dark_rounded .pp_details { position: relative; }

div.dark_rounded .pp_description { margin-right: 85px; }

div.dark_rounded .currentTextHolder { color: #c4c4c4; }

div.dark_rounded .pp_description { color: #fff; }

div.dark_rounded #pp_full_res .pp_inline { color: #fff; }

div.dark_rounded .pp_gallery a.pp_arrow_previous, div.dark_rounded .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.dark_rounded .pp_nav .pp_play { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_nav .pp_pause { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_rounded .pp_arrow_previous { background: url(../images/prettyPhoto/dark_rounded/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.dark_rounded .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.dark_rounded .pp_arrow_next { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.dark_rounded .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.dark_rounded .pp_bottom .pp_left { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.dark_rounded .pp_bottom .pp_middle { background: url(../images/prettyPhoto/dark_rounded/contentPattern.png) top left repeat; }

/* Bottom pattern/color */
div.dark_rounded .pp_bottom .pp_right { background: url(../images/prettyPhoto/dark_rounded/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
div.dark_rounded .pp_loaderIcon { background: url(../images/prettyPhoto/dark_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Dark Square Theme
----------------------------------- */
div.dark_square .pp_left, div.dark_square .pp_middle, div.dark_square .pp_right, div.dark_square .pp_content { background: #000; }

div.dark_square .currentTextHolder { color: #c4c4c4; }

div.dark_square .pp_description { color: #fff; }

div.dark_square .pp_loaderIcon { background: url(../images/prettyPhoto/dark_square/loader.gif) center center no-repeat; }

/* Loader icon */
div.dark_square .pp_expand { background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.dark_square .pp_expand:hover { background: url(../images/prettyPhoto/dark_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.dark_square .pp_contract { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.dark_square .pp_contract:hover { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.dark_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.dark_square .pp_details { position: relative; }

div.dark_square .pp_description { margin: 0 85px 0 0; }

div.dark_square #pp_full_res .pp_inline { color: #fff; }

div.dark_square .pp_gallery a.pp_arrow_previous, div.dark_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.dark_square .pp_nav { clear: none; }

div.dark_square .pp_nav .pp_play { background: url(../images/prettyPhoto/dark_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_nav .pp_pause { background: url(../images/prettyPhoto/dark_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.dark_square .pp_arrow_previous { background: url(../images/prettyPhoto/dark_square/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.dark_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.dark_square .pp_arrow_next { background: url(../images/prettyPhoto/dark_square/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.dark_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.dark_square .pp_next:hover { background: url(../images/prettyPhoto/dark_square/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.dark_square .pp_previous:hover { background: url(../images/prettyPhoto/dark_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
/* ---------------------------------- Light Square Theme
----------------------------------- */
div.light_square .pp_left, div.light_square .pp_middle, div.light_square .pp_right, div.light_square .pp_content { background: #fff; }

div.light_square .pp_content .ppt { color: #000; }

div.light_square .pp_expand { background: url(../images/prettyPhoto/light_square/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.light_square .pp_expand:hover { background: url(../images/prettyPhoto/light_square/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.light_square .pp_contract { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.light_square .pp_contract:hover { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.light_square .pp_close { width: 75px; height: 22px; background: url(../images/prettyPhoto/light_square/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.light_square .pp_details { position: relative; }

div.light_square .pp_description { margin-right: 85px; }

div.light_square #pp_full_res .pp_inline { color: #000; }

div.light_square .pp_gallery a.pp_arrow_previous, div.light_square .pp_gallery a.pp_arrow_next { margin-top: 12px !important; }

div.light_square .pp_nav .pp_play { background: url(../images/prettyPhoto/light_square/sprite.png) -1px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_nav .pp_pause { background: url(../images/prettyPhoto/light_square/sprite.png) -24px -100px no-repeat; height: 15px; width: 14px; }

div.light_square .pp_arrow_previous { background: url(../images/prettyPhoto/light_square/sprite.png) 0 -71px no-repeat; }

/* The previous arrow in the bottom nav */
div.light_square .pp_arrow_previous.disabled { background-position: 0 -87px; cursor: default; }

div.light_square .pp_arrow_next { background: url(../images/prettyPhoto/light_square/sprite.png) -22px -71px no-repeat; }

/* The next arrow in the bottom nav */
div.light_square .pp_arrow_next.disabled { background-position: -22px -87px; cursor: default; }

div.light_square .pp_next:hover { background: url(../images/prettyPhoto/light_square/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.light_square .pp_previous:hover { background: url(../images/prettyPhoto/light_square/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.light_square .pp_loaderIcon { background: url(../images/prettyPhoto/light_rounded/loader.gif) center center no-repeat; }

/* Loader icon */
/* ---------------------------------- Facebook style Theme
----------------------------------- */
div.facebook .pp_top .pp_left { background: url(../images/prettyPhoto/facebook/sprite.png) -88px -53px no-repeat; }

/* Top left corner */
div.facebook .pp_top .pp_middle { background: url(../images/prettyPhoto/facebook/contentPatternTop.png) top left repeat-x; }

/* Top pattern/color */
div.facebook .pp_top .pp_right { background: url(../images/prettyPhoto/facebook/sprite.png) -110px -53px no-repeat; }

/* Top right corner */
div.facebook .pp_content .ppt { color: #000; }

div.facebook .pp_content_container .pp_left { background: url(../images/prettyPhoto/facebook/contentPatternLeft.png) top left repeat-y; }

/* Content background */
div.facebook .pp_content_container .pp_right { background: url(../images/prettyPhoto/facebook/contentPatternRight.png) top right repeat-y; }

/* Content background */
div.facebook .pp_content { background: #fff; }

/* Content background */
div.facebook .pp_expand { background: url(../images/prettyPhoto/facebook/sprite.png) -31px -26px no-repeat; cursor: pointer; }

/* Expand button */
div.facebook .pp_expand:hover { background: url(../images/prettyPhoto/facebook/sprite.png) -31px -47px no-repeat; cursor: pointer; }

/* Expand button hover */
div.facebook .pp_contract { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -26px no-repeat; cursor: pointer; }

/* Contract button */
div.facebook .pp_contract:hover { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -47px no-repeat; cursor: pointer; }

/* Contract button hover */
div.facebook .pp_close { width: 22px; height: 22px; background: url(../images/prettyPhoto/facebook/sprite.png) -1px -1px no-repeat; cursor: pointer; }

/* Close button */
div.facebook .pp_details { position: relative; }

div.facebook .pp_description { margin: 0 37px 0 0; }

div.facebook #pp_full_res .pp_inline { color: #000; }

div.facebook .pp_loaderIcon { background: url(../images/prettyPhoto/facebook/loader.gif) center center no-repeat; }

/* Loader icon */
div.facebook .pp_arrow_previous { background: url(../images/prettyPhoto/facebook/sprite.png) 0 -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

/* The previous arrow in the bottom nav */
div.facebook .pp_arrow_previous.disabled { background-position: 0 -96px; cursor: default; }

div.facebook .pp_arrow_next { background: url(../images/prettyPhoto/facebook/sprite.png) -32px -71px no-repeat; height: 22px; margin-top: 0; width: 22px; }

/* The next arrow in the bottom nav */
div.facebook .pp_arrow_next.disabled { background-position: -32px -96px; cursor: default; }

div.facebook .pp_nav { margin-top: 0; }

div.facebook .pp_nav p { font-size: 15px; padding: 0 3px 0 4px; }

div.facebook .pp_nav .pp_play { background: url(../images/prettyPhoto/facebook/sprite.png) -1px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_nav .pp_pause { background: url(../images/prettyPhoto/facebook/sprite.png) -32px -123px no-repeat; height: 22px; width: 22px; }

div.facebook .pp_next:hover { background: url(../images/prettyPhoto/facebook/btnNext.png) center right no-repeat; cursor: pointer; }

/* Next button */
div.facebook .pp_previous:hover { background: url(../images/prettyPhoto/facebook/btnPrevious.png) center left no-repeat; cursor: pointer; }

/* Previous button */
div.facebook .pp_bottom .pp_left { background: url(../images/prettyPhoto/facebook/sprite.png) -88px -80px no-repeat; }

/* Bottom left corner */
div.facebook .pp_bottom .pp_middle { background: url(../images/prettyPhoto/facebook/contentPatternBottom.png) top left repeat-x; }

/* Bottom pattern/color */
div.facebook .pp_bottom .pp_right { background: url(../images/prettyPhoto/facebook/sprite.png) -110px -80px no-repeat; }

/* Bottom right corner */
/* ------------------------------------------------------------------------ DO NOT CHANGE
------------------------------------------------------------------------- */
div.pp_pic_holder a:focus { outline: none; }

div.pp_overlay { background: #000; display: none; left: 0; position: absolute; top: 0; width: 100%; z-index: 9500; }

div.pp_pic_holder { display: none; position: absolute; width: 100px; z-index: 10000; }

.pp_top { height: 20px; position: relative; }

* html .pp_top { padding: 0 20px; }

.pp_top .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }

.pp_top .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }

* html .pp_top .pp_middle { left: 0; position: static; }

.pp_top .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }

.pp_content { height: 40px; min-width: 40px; }

* html .pp_content { width: 40px; }

.pp_fade { display: none; }

.pp_content_container { position: relative; text-align: left; width: 100%; }

.pp_content_container .pp_left { padding-left: 20px; }

.pp_content_container .pp_right { padding-right: 20px; }

.pp_content_container .pp_details { float: left; margin: 10px 0 2px 0; }

.pp_description { display: none; margin: 0; }

.pp_social { float: left; margin: 0; }

.pp_social .facebook { float: left; margin-left: 5px; width: 55px; overflow: hidden; }

.pp_social .twitter { float: left; }

.pp_nav { clear: right; float: left; margin: 3px 10px 0 0; }

.pp_nav p { float: left; margin: 2px 4px; white-space: nowrap; }

.pp_nav .pp_play, .pp_nav .pp_pause { float: left; margin-right: 4px; text-indent: -10000px; }

a.pp_arrow_previous, a.pp_arrow_next { display: block; float: left; height: 15px; margin-top: 3px; overflow: hidden; text-indent: -10000px; width: 14px; }

.pp_hoverContainer { position: absolute; top: 0; width: 100%; z-index: 2000; }

.pp_gallery { display: none; left: 50%; margin-top: -50px; position: absolute; z-index: 10000; }

.pp_gallery div { float: left; overflow: hidden; position: relative; }

.pp_gallery ul { float: left; height: 35px; margin: 0 0 0 5px; padding: 0; position: relative; white-space: nowrap; }

.pp_gallery ul a { border: 1px #000 solid; border: 1px rgba(0, 0, 0, 0.5) solid; display: block; float: left; height: 33px; overflow: hidden; }

.pp_gallery ul a:hover, .pp_gallery li.selected a { border-color: #fff; }

.pp_gallery ul a img { border: 0; }

.pp_gallery li { display: block; float: left; margin: 0 5px 0 0; padding: 0; }

.pp_gallery li.default a { background: url(../images/prettyPhoto/facebook/default_thumbnail.gif) 0 0 no-repeat; display: block; height: 33px; width: 50px; }

.pp_gallery li.default a img { display: none; }

.pp_gallery .pp_arrow_previous, .pp_gallery .pp_arrow_next { margin-top: 7px !important; }

a.pp_next { background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: right; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_previous { background: url(../images/prettyPhoto/light_rounded/btnNext.png) 10000px 10000px no-repeat; display: block; float: left; height: 100%; text-indent: -10000px; width: 49%; }

a.pp_expand, a.pp_contract { cursor: pointer; display: none; height: 20px; position: absolute; right: 30px; text-indent: -10000px; top: 10px; width: 20px; z-index: 20000; }

a.pp_close { position: absolute; right: 0; top: 0; display: block; line-height: 22px; text-indent: -10000px; }

.pp_bottom { height: 20px; position: relative; }

* html .pp_bottom { padding: 0 20px; }

.pp_bottom .pp_left { height: 20px; left: 0; position: absolute; width: 20px; }

.pp_bottom .pp_middle { height: 20px; left: 20px; position: absolute; right: 20px; }

* html .pp_bottom .pp_middle { left: 0; position: static; }

.pp_bottom .pp_right { height: 20px; left: auto; position: absolute; right: 0; top: 0; width: 20px; }

.pp_loaderIcon { display: block; height: 24px; left: 50%; margin: -12px 0 0 -12px; position: absolute; top: 50%; width: 24px; }

#pp_full_res { line-height: 1 !important; }

#pp_full_res .pp_inline { text-align: left; }

#pp_full_res .pp_inline p { margin: 0 0 15px 0; }

div.ppt { color: #fff; display: none; font-size: 17px; margin: 0 0 5px 15px; z-index: 9999; }

/** ********************************************* Import: Website Header & Footers ********************************************* */
/** ********************************************* Css File: Header. ********************************************* */
header { background-image: url("../images/site/bg-header.jpg"); background-repeat: repeat-x; padding-top: 20px; }
header .ad-1-placeholder { margin-bottom: 50px; }
header .ad-1-placeholder > figure { text-align: center; }

/** ********************************************* Styling: Logo Wrapper Section ********************************************* */
.logo-wrapper { max-width: 1200px; margin: 0 auto; position: relative; top: 9px; }
.logo-wrapper .left-content { max-width: 610px; }

#search-form { background-image: url("../images/site/search01.png"); height: 36px; margin-bottom: 20px; width: 301px; }
#search-form input[type="text"] { background-color: transparent; border: medium none; font-size: 14px; height: 35px; line-height: 35px; margin: 0; padding: 0 0 0 10px; width: 225px; }
#search-form input[type="submit"] { background-color: transparent; border: medium none; color: transparent; float: right; height: 36px; width: 36px; cursor: pointer; }

.social-menu-wrapper > ul li { float: left; margin-left: 27px; }

.user-menu a { color: #0b3576; font-size: 18px; font-weight: 700; text-decoration: none; text-transform: uppercase; }

.subscribe-menu a { color: #8a9ebc; font-weight: 600; position: relative; text-decoration: none; text-transform: uppercase; top: 2px; }

.social-menu { border-right: 1px solid #8a9ebc; padding-right: 26px; position: relative; top: -4px; }
.social-menu li:first-child { margin-left: 0; }
.social-menu .icon-linkedin { display: block; height: 22px; width: 24px; }
.social-menu .icon-rss { display: block; height: 22px; width: 20px; }
.social-menu .icon-twitter { display: block; height: 20px; width: 26px; }

.line-above-menu { height: 4px; background-color: #0b3576; margin-bottom: 2px; }

/** ********************************************* Styling: Main Menu ********************************************* */
.main-menu-wrapper { background-color: #0b3576; height: 50px; overflow: visible; }

.main-menu { margin: 0 auto; max-width: 1232px; }
.main-menu > li { float: left; }
.main-menu a { border-bottom: 4px solid transparent; color: white; display: block; font-size: 18px; font-weight: 600; height: 50px; line-height: 50px; padding: 0 14px; text-decoration: none; }
.main-menu a:hover { background-color: white; border-color: #0B3576; color: #0B3576; }

/** ********************************************* Styling: Sub Menu ********************************************* */
.sub-menu-wrapper { margin: 15px auto 0; max-width: 1200px; }
.sub-menu-wrapper .sub-main-menu > li { border-left: 1px solid #0b3576; float: left; height: 14px; line-height: 14px; padding: 0 16px; }
.sub-menu-wrapper .sub-main-menu > li:first-child { border: medium none; padding-left: 0; }
.sub-menu-wrapper .sub-main-menu a { color: #0b3576; }

footer { margin: 0 auto; max-width: 1200px; }

section.footer-menu-wrapper:first-child div.footer-menu-wrapper:first-child { margin-top: 10px; }
section.footer-menu-wrapper:first-child .menu-col.background-color { padding: 0 10px; }
section.footer-menu-wrapper div.footer-menu-wrapper > h2 { color: #3c9fe0; font-size: 14px; padding-top: 30px; }
section.footer-menu-wrapper div.footer-menu-wrapper:first-child { margin-top: 30px; }
section.footer-menu-wrapper div.footer-menu-wrapper:first-child > h2 { padding-top: 0; }
section.footer-menu-wrapper .menu-col { float: left; max-width: 200px; box-sizing: border-box; }
section.footer-menu-wrapper .menu-col.background-color { background-color: #FAFAFA; padding: 0 10px 10px; }

.footer-menu { margin-top: 15px; }
.footer-menu a { color: black; display: inline-block; padding: 2px 0; text-decoration: none; }

.aspermont-clients-wrapper { margin-bottom: 18px; }
.aspermont-clients-wrapper.first-section { margin-top: 50px; }
.aspermont-clients-wrapper .line-title { margin-bottom: 17px; }

.clients-list { margin-left: -14px; }
.clients-list > li { float: left; height: 78px; margin-bottom: 13px; margin-left: 13px; }
.clients-list img { border: 1px solid black; }

footer .content-wrapper { padding-bottom: 50px; position: relative; }
footer .content-wrapper figure { margin-right: 54px; }
footer .content-wrapper .content { position: relative; top: 48px; width: 770px; }
footer .content-wrapper .content span { color: #173f7d; display: block; font-size: 14px; margin-bottom: 15px; }

/** ********************************************* Styling: Social Icons ********************************************* */
.icon-linkedin, .icon-rss, .icon-twitter, .icon-mail { background-repeat: no-repeat; background-position: left center; }

.icon-linkedin { background-image: url("../images/site/icon/icon-linkedin.png"); }

.icon-rss { background-image: url("../images/site/icon/icon-rss.png"); }

.icon-twitter { background-image: url("../images/site/icon/icon-twitter.png"); }

.icon-mail { background-image: url("../images/site/icon/icon-mail.png"); }

/** ********************************************* Styling: Title with the Borderline underneath ********************************************* */
.line-title { border-bottom: 2px solid black; }
.line-title > h2 { color: black; top: 7px; }
.line-title > h2 { background-color: white; display: inline-block; font-size: 18px; padding-right: 10px; position: relative; }

/** ********************************************* Styling: Main Content (Genernal) ********************************************* */
#content-wrapper { margin: 0 auto; max-width: 1200px; padding-top: 30px; }

.main-content { max-width: 860px; }
.main-content > section { margin-top: 30px; }
.main-content > section:first-child { margin-top: 0; }
.main-content > section:last-child { margin-bottom: 60px; }

/** ********************************************* Styling: Classified ********************************************* */
.classifields > ul li { float: left; height: 60px; margin-top: 20px; padding-left: 68px; }
.classifields > ul img { border: 1px solid black; }

/** ********************************************* Methods Summary: Styling Latest News ********************************************* */
.latest-news-list { margin: 50px 0; }
.latest-news-list > section { box-sizing: border-box; width: 50%; }
.latest-news-list > section:first-child { padding-right: 15px; }
.latest-news-list > section:last-child { padding-left: 15px; }
.latest-news-list figure { background-color: white; display: inline-block; padding-right: 10px; position: relative; top: 2px; }
.latest-news-list figure > img { float: left; margin-right: 20px; }
.latest-news-list figcaption { color: #0b3576; display: inline-block; font-size: 18px; height: 30px; line-height: 30px; position: relative; top: 8px; }
.latest-news-list ul li { border-bottom: 1px solid #e6e6e6; padding: 15px 11px; }
.latest-news-list ul a { color: #3c9fe0; font-weight: 600; text-decoration: none; }

/** ********************************************* Styling: Button Read More ********************************************* */
.bt-viewmore { color: #0b3576; display: block; font-size: 12px; text-align: right; margin-top: 17px; }

/** ********************************************* Styling: Breadcrums ********************************************* */
.breadcrum-wrapper span { font-size: 18px; font-weight: 600; }
.breadcrum-wrapper > h2 { font-size: 24px; margin-top: 20px; text-transform: uppercase; color: #0b3576; font-weight: 800; }
.breadcrum-wrapper.opinion-listing span { color: #95a35f; }
.breadcrum-wrapper.opinion-listing span a { color: #95a35f; }
.breadcrum-wrapper.event-listing span, .breadcrum-wrapper.job-listing span { color: #df1d4c; }
.breadcrum-wrapper.event-listing span a, .breadcrum-wrapper.job-listing span a { color: #df1d4c; }
.breadcrum-wrapper.author-listing span { color: #e87d97; }
.breadcrum-wrapper.author-listing span a { color: #e87d97; }
.breadcrum-wrapper.author-listing > span { color: #010101; font-weight: 500; display: inline-block; margin-top: 15px; }

/** ********************************************* Styling: Pagination ********************************************* */
.pagination-wrapper { text-align: center; max-width: 196px; margin-left: auto; margin-right: auto; }
.pagination-wrapper > span { float: left; }
.pagination-wrapper a { display: block; color: black; font-size: 12px; font-weight: 700; line-height: 28px; width: 28px; height: 28px; }
.pagination-wrapper a:hover { color: #3c9fe0; }
.pagination-wrapper > span:first-child { margin-left: 0; }
.pagination-wrapper .next-page a, .pagination-wrapper .prev-page a { background-color: #e0e0e0; background-position: center center; background-repeat: no-repeat; border-radius: 4px; }
.pagination-wrapper .next-page a:hover, .pagination-wrapper .prev-page a:hover { background-color: #3c9fe0; }
.pagination-wrapper .next-page a { background-image: url("../images/site/icon/icon-next.png"); }
.pagination-wrapper .prev-page a { background-image: url("../images/site/icon/icon-prev.png"); }

.sidebar-wrapper { color: #363636; max-width: 300px; }
.sidebar-wrapper h3, .sidebar-wrapper a, .sidebar-wrapper p { font-size: 14px; }
.sidebar-wrapper .line-title { border-bottom: 2px solid #0b3576; }
.sidebar-wrapper .line-title > h2 { color: #0b3576; top: 7px; }
.sidebar-wrapper > section { margin-bottom: 30px; }
.sidebar-wrapper .tab-navigation li, .sidebar-wrapper .tab-navigation a { transition: none; -webkit-transition: none; }
.sidebar-wrapper .tab-navigation > li { float: left; }
.sidebar-wrapper .tab-navigation a { border-bottom: 2px solid #e4e4e4; border-top: 3px solid transparent; box-sizing: border-box; color: #0b3576; display: block; font-size: 12px; height: 50px; padding: 10px; text-align: center; text-decoration: none; text-transform: uppercase; }
.sidebar-wrapper .tab-navigation a.selected, .sidebar-wrapper .tab-navigation a:hover { background-color: #FAFAFA; border-bottom-color: transparent; border-top-color: #0B3576; font-weight: 600; }
.sidebar-wrapper .tab-content { background-color: #FAFAFA; }
.sidebar-wrapper .tab-content .latest-news-content { box-sizing: border-box; padding: 0 15px 15px; }
.sidebar-wrapper .tab-content .latest-news-content li { border-bottom: 1px solid #e4e4e4; padding: 12px 0; }
.sidebar-wrapper .tab-content .latest-news-content a { color: #3c9fe0; text-decoration: none; }

/** ********************************************* Methods Summary: Styling Subscribing Form ********************************************* */
.sidebar-newsletter > h2 { color: #0b3576; font-size: 18px; margin-bottom: 16px; text-align: center; }
.sidebar-newsletter .form-wrapper { background-color: #FAFAFA; padding: 10px 0; }
.sidebar-newsletter form { background-image: url("../images/site/subscribe01.png"); background-position: center center; background-repeat: no-repeat; height: 35px; margin: 0 auto; width: 273px; }
.sidebar-newsletter form input[type="text"] { background-color: transparent; border: medium none; font-size: 14px; height: 35px; line-height: 35px; margin: 0; padding: 0 0 0 10px; width: 225px; }
.sidebar-newsletter form input[type="submit"] { background-color: transparent; border: medium none; color: transparent; float: right; height: 35px; width: 35px; cursor: pointer; }

/** ********************************************* Methods Summary: Sidebar Listing ********************************************* */
.sidebar-list li { border-bottom: 1px solid #e0e0e0; margin-top: 20px; padding-bottom: 20px; }
.sidebar-list figure img { border: 1px solid black; float: left; margin-right: 20px; margin-top: 5px; }
.sidebar-list figcaption h3 { color: #0b3576; margin-bottom: 14px; text-transform: uppercase; }
.sidebar-list figcaption span { color: #3c9fe0; font-weight: 600; }

.profressional-placement-list figcaption h3, .upcoming-event-list figcaption h3 { color: #3c9fe0; }

/** ********************************************* Import: Website Pages ********************************************* */
.page-home .tab-navigation { margin-left: 2px; max-width: 294px; }
.page-home .tab-navigation li { border-bottom: 1px solid #e0e0e0; padding: 7px 24px; }
.page-home .tab-navigation li h2 { margin-bottom: 11px; }
.page-home .tab-navigation li a { color: #3c9fe0; font-size: 18px; text-decoration: none; }
.page-home .tab-navigation li:first-child { margin: 0; padding: 20px 24px 14px; }
.page-home .tab-navigation li:first-child h2 { margin-bottom: 25px; }
.page-home .tab-navigation li:first-child a { font-size: 22px; }
.page-home .tab-navigation li.selected, .page-home .tab-navigation li:hover { background-color: #0b3576; color: white; }
.page-home .tab-navigation li.selected a, .page-home .tab-navigation li:hover a { color: white; }
.page-home .tab-navigation li.selected .comment-count, .page-home .tab-navigation li:hover .comment-count { background-image: url("../images/site/icon/icon-comment.png"); }
.page-home .tab-navigation li:last-child { border: medium none; }
.page-home .tab-navigation p:last-child { font-size: 12px; margin-top: 15px; }
.page-home .tab-navigation li, .page-home .tab-navigation a { transition: none; -webkit-transition: none; }
.page-home .tab-content figure { max-width: 564px; overflow: hidden; }
.page-home .tab-content figure img { display: block; height: 100%; width: auto; }

.advert-placeholder { text-align: center; }

.comment-count { background-image: url("../images/site/icon/icon-comment-black.png"); background-position: right center; background-repeat: no-repeat; float: right; padding-right: 20px; }

/** ********************************************* Methods Summary: Styling 3 columns post list ********************************************* */
.post-3-columns-wapper > div { float: left; margin-left: 25px; max-width: 270px; }
.post-3-columns-wapper > div:first-child { margin: 0; }
.post-3-columns-wapper .post-list { margin-top: 15px; }
.post-3-columns-wapper .post-list > li:first-child { padding: 0; border-bottom: medium none; }
.post-3-columns-wapper .post-list > li:first-child figcaption { color: white; background-color: #bd2d48; }
.post-3-columns-wapper .post-list > li:first-child h3 { color: white; }
.post-3-columns-wapper .post-list li { border-bottom: 1px solid #E0E0E0; }
.post-3-columns-wapper .post-list li figcaption { margin-top: -3px; }
.post-3-columns-wapper .post-list li, .post-3-columns-wapper .post-list li:first-child figcaption { padding: 15px 14px 6px; }
.post-3-columns-wapper .post-list h3 { color: #3c9fe0; font-size: 16px; margin-bottom: 15px; }
.post-3-columns-wapper .post-list p:last-child { font-size: 12px; margin-top: 15px; }
.post-3-columns-wapper .world-post-list .line-title { border-bottom: 1px solid #bd2d48; }
.post-3-columns-wapper .world-post-list .line-title > h2 { color: #bd2d48; top: 6px; }
.post-3-columns-wapper .world-post-list li:first-child figcaption { background-color: #bd2d48; }
.post-3-columns-wapper .finance-post-list .line-title { border-bottom: 1px solid #a03465; }
.post-3-columns-wapper .finance-post-list .line-title > h2 { color: #a03465; top: 6px; }
.post-3-columns-wapper .finance-post-list li:first-child figcaption { background-color: #a03465; }
.post-3-columns-wapper .opinion-post-list .line-title { border-bottom: 1px solid #95a35f; }
.post-3-columns-wapper .opinion-post-list .line-title > h2 { color: #95a35f; top: 6px; }
.post-3-columns-wapper .opinion-post-list li:first-child figcaption { background-color: #95a35f; }
.post-3-columns-wapper .commodities-post-list .line-title { border-bottom: 1px solid #eebc32; }
.post-3-columns-wapper .commodities-post-list .line-title > h2 { color: #eebc32; top: 6px; }
.post-3-columns-wapper .commodities-post-list li:first-child figcaption { background-color: #eebc32; }
.post-3-columns-wapper .services-post-list .line-title { border-bottom: 1px solid #e99333; }
.post-3-columns-wapper .services-post-list .line-title > h2 { color: #e99333; top: 6px; }
.post-3-columns-wapper .services-post-list li:first-child figcaption { background-color: #e99333; }
.post-3-columns-wapper .technology-post-list .line-title { border-bottom: 1px solid #128e9e; }
.post-3-columns-wapper .technology-post-list .line-title > h2 { color: #128e9e; top: 6px; }
.post-3-columns-wapper .technology-post-list li:first-child figcaption { background-color: #128e9e; }

/** ********************************************* Methods Summary: Focus Post List ********************************************* */
.focus-post .line-title { border-bottom: 2px solid #ff4747; }
.focus-post .line-title > h2 { color: #ff4747; top: 7px; }

.focus-post-list { margin-top: 15px; }
.focus-post-list li { border-bottom: 1px solid #e0e0e0; padding: 20px 0 6px; }
.focus-post-list li figcaption { margin-top: -4px; }
.focus-post-list li a { color: #3c9fe0; }
.focus-post-list li:first-child { background-color: white; border-bottom: medium none; float: left; max-width: 415px; padding: 0 44px 0 0; }
.focus-post-list li:first-child figcaption { background-color: #FF4747; color: white; padding: 20px 14px 6px; }
.focus-post-list li:first-child figcaption .comment-count { background-image: url("../images/site/icon/icon-comment.png"); }
.focus-post-list li:first-child figcaption h3 { color: white; }
.focus-post-list .bt-viewmore-wrapper { padding: 0; border-bottom: medium none; }
.focus-post-list p:last-child { font-size: 12px; margin-top: 15px; }

/** ********************************************* Methods Summary: Snapshot Post ********************************************* */
.snapshot-post .line-title { border-bottom: 2px solid #757519; }
.snapshot-post .line-title > h2 { color: #757519; top: 7px; }
.snapshot-post > figure { margin-top: 15px; }
.snapshot-post > figure img { background-color: white; max-width: 540px; padding-right: 2px; width: 100%; }
.snapshot-post figcaption { background-color: #757519; color: white; box-sizing: border-box; max-width: 318px; padding: 20px 14px 6px; position: relative; }
.snapshot-post figcaption a { color: white; }
.snapshot-post figcaption p:last-child { font-size: 12px; margin-top: 15px; margin-top: 45px; }
.snapshot-post figcaption .comment-count { background-image: url("../images/site/icon/icon-comment.png"); }
.snapshot-post h3 { font-size: 16px; color: #3c9fe0; margin-bottom: 15px; }

/** ********************************************* Styling: Content List Usage: - Listing Page. - Listing Author ********************************************* */
.content-list h3 { color: #3c9fe0; margin-bottom: 15px; }
.content-list li { margin-bottom: 20px; }
.content-list li > figure img { float: left; margin-right: 20px; max-width: 230px; }
.content-list li figcaption { float: right; max-width: 610px; position: relative; }
.content-list li p:last-child { font-size: 12px; margin-top: 15px; border-bottom: 1px solid #e0e0e0; padding-bottom: 10px; width: 100%; }
.content-list li p:last-child span:first-child, .content-list li p:last-child span:last-child { border-left: medium none; padding-left: 0; margin-left: 0; }
.content-list li p:last-child span { border-left: 1px solid black; margin-left: 12px; padding-left: 12px; }
.content-list li .advert-placeholder { margin-bottom: 20px; }
.content-list li .comment-count { background-image: url("../images/site/icon/icon-comment-blue.png"); color: #3c9fe0; }

/** ********************************************* Styling: Listing Content List 2 Usage:  - Event Listing - Job Listing ********************************************* */
.description-text a { color: #3c9fe0; font-weight: 600; margin-top: 17px; display: inline-block; }

.content-list-2 .advert-placeholder { margin-bottom: 20px; }
.content-list-2 li { border-bottom: 1px solid #e0e0e0; margin-bottom: 20px; padding-bottom: 20px; }
.content-list-2 li > figure img { border: 1px solid black; float: left; margin-right: 20px; }
.content-list-2 figcaption { float: right; height: 194px; max-width: 650px; position: relative; top: -4px; }
.content-list-2 h3 { font-size: 18px; color: #3c9fe0; margin-bottom: 15px; }
.content-list-2 p { margin-bottom: 20px; }
.content-list-2 span { color: #3c9fe0; }

.bt-apply-now { background-color: #3c9fe0; bottom: 0; color: white; display: block; height: 30px; line-height: 30px; position: absolute; text-align: center; width: 93px; font-weight: 600; }

/** ********************************************* Styling: Author Listing ********************************************* */
.article-by { margin-top: 20px !important; }
.article-by > h2 { color: #0b3576; font-size: 24px; font-weight: 600; margin-top: 40px; display: inline-block; }
.article-by figure img { float: left; }
.article-by figcaption { float: right; max-width: 600px; }
.article-by figcaption p { margin-top: 20px; }
.article-by .social-content { margin-bottom: 25px; }
.article-by .social-content ul:first-child { margin-right: 30px; }
.article-by .social-content ul li:first-child { margin-top: 0; }
.article-by .social-content ul li { display: block; margin-top: 15px; }
.article-by .social-content ul li a { padding-left: 35px; color: #3c9fe0; }
