/**
 * *********************************************
 * Styling: Content List
 * Usage:
 * - Listing Page.
 * - Listing Author
 * *********************************************
 */
.content-list {
    h3 {
        color: $lightBlue;
        margin-bottom: 15px;
    }
    li {
        margin-bottom: 20px;
        > figure {
            img {
                float: left;
                margin-right: 20px;
                max-width: 230px;
            }
        }

        figcaption {
            float: right;
            max-width: 610px;
            position: relative;
        }
        p:last-child {
            @include date-comment;
            border-bottom: 1px solid #e0e0e0;
            padding-bottom: 10px;
            width: 100%;

            span:first-child, span:last-child {
                border-left: medium none;
                padding-left: 0;
                margin-left: 0;
            }
            span  {
                border-left: 1px solid black;
                margin-left: 12px;
                padding-left: 12px;
            }
        }

        .advert-placeholder {
            margin-bottom: 20px;
        }

        .comment-count {
            @include blue-comment;
        }
    }
} 
/**
 * *********************************************
 * Styling: Listing Content List 2
 * Usage: 
 * - Event Listing
 * - Job Listing
 * *********************************************
 */
.description-text {
    a {
        color: $lightBlue;
        font-weight: 600;
        margin-top: 17px;
        display: inline-block;
    }
}
.content-list-2 {
    .advert-placeholder {
        margin-bottom: 20px;
    }
    li {
        border-bottom: 1px solid $borderLine;
        margin-bottom: 20px;
        padding-bottom: 20px;

        > figure {
            img {
                border: 1px solid black;
                float: left;
                margin-right: 20px;
            }
        }
    }
    figcaption {
        float: right;
        height: 194px;
        max-width: 650px;
        position: relative;
        top: -4px;
    }
    h3 {
        @include h3title(18px,$lightBlue,15px);
    }
    p {
        margin-bottom: 20px;
    }
    span {
        color: $lightBlue;
    }
} 
.bt-apply-now {
    background-color: $lightBlue;
    bottom: 0;
    color: white;
    display: block;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    width: 93px;
    font-weight: 600;
}
/**
 * *********************************************
 * Styling: Author Listing
 * *********************************************
 */
.article-by {
    margin-top: 20px !important;

    > h2 {
        color: $darkBlue;
        font-size: 24px;
        font-weight: 600;
        margin-top: 40px;
        display: inline-block;
    }
    figure {
        img {
            float: left;
        }
    }
    figcaption {
        float: right;
        max-width: 600px;
        p {
            margin-top: 20px;
        }
    }
    .social-content {
        margin-bottom: 25px;
        ul:first-child {
            margin-right: 30px;
        }
        ul li:first-child {
            margin-top: 0;
        }
        ul li {
            display: block;
            margin-top: 15px;
            a {
                padding-left: 35px;
                color: $lightBlue;
            }
        }
    }
}
