@charset "utf-8";
#Kunena td, #Kunena table, #Kunena th, #Kunena div, #Kunena p, #Kunena span {
	font-family:Arial, Helvetica, sans-serif
}
#Kunena ul li {
	background:0
}
#Kunena .divider {
	color:#999
}
#Kunena a:link, #Kunena a:visited, #Kunena a:active, #Kunena a:focus {
	color:#5388b4!important;
	background-color:transparent!important
}
#Kunena a:hover {
	color:#f00!important;
	background-color:transparent!important
}
#Kunena .knewchar {
	color:#090;
	font-family:Arial, Helvetica, sans-serif
}
#Kunena div.kblock {
	border-bottom-color:#bfc3c6;
	background-color:#fff
}
#Kunena .kblock div.kheader {
	background:#5388b4!important;
	border-bottom-color:#d9d9d9;
	color:#fff
}
#Kunena .kheader h2, #Kunena .kheader h2 a {
	color:#fff!important
}
#Kunena div.kblock div.ktitle {
	background-color:#5388b4;
	color:#fff
}
#Kunena div.kblock div.ktitle h1, #Kunena div.kblock div.ktitle h2 {
	color:#fff
}
#Kunena div.kblock div.kbody {
	border-color:#bfc3c6
}
#Kunena div.kblock div.khelprulescontent, #Kunena div.kblock div.kfheadercontent {
	background-color:#fff;
	color:#000
}
#Kunena div.kblock div.khelprulesjump {
	border-color:#bfc3c6;
	background-color:#fff;
	color:#000
}
#Kunena div.kblock div.kactions {
	background-color:#f2f1ee;
	color:#FFF;
	border-left:1px solid #bfc3c6;
	border-bottom:1px solid #bfc3c6;
	border-right:1px solid #bfc3c6
}
#Kunena div.kblock div.kactions a {
	color:#fff!important;
	background-color:transparent!important
}
#Kunena tr.krow1 td {
	background-color:#f2f1ee
}
#Kunena tr.krow2 td {
	background-color:#fff
}
#Kunena tr.ksth {
	background-color:#737373;
	color:#fff;
	font-family:Arial, Helvetica, sans-serif
}
#Kunena td.kcol-ktopicreplies {
	color:#999
}
#Kunena td.kcol-ktopicreplies strong {
	color:#999
}
#Kunena span.kcat-topics, #Kunena span.kcat-replies {
	color:#999
}
#Kunena span.kcat-topics-number, #Kunena span.kcat-replies-number {
	color:#999
}
#Kunena .klatest-avatar, #Kunena .ktopic-latest-post-avatar {
	border-color:#bfc3c6
}
#Kunena .kfooter-time {
	color:#999
}
#Kunena .kalert {
	color:#f00
}
#Kunena td.kcol-first {
	border-bottom-color:#bfc3c6
}
#Kunena td.kcol-mid {
	border-left-color:#bfc3c6;
	border-bottom-color:#bfc3c6
}
#Kunena td.kcol-last {
	border-left-color:#bfc3c6;
	border-bottom-color:#bfc3c6
}
#Kunena td.ktopicmodule {
	border-bottom-color:#bfc3c6
}
#Kunena .kwho-admin, #Kunena a.kwho-admin {
	color:#f00!important
}
#Kunena .kwho-globalmoderator, #Kunena a.kwho-globalmoderator {
	color:#800000!important
}
#Kunena .kwho-moderator, #Kunena a.kwho-moderator {
	color:#00f!important
}
#Kunena .kwho-user, #Kunena a.kwho-user {
	color:#5388b4!important
}
#Kunena .kwho-guest, #Kunena a.kwho-guest {
	color:#666!important
}
#Kunena .kwho-banned, #Kunena a.kwho-banned {
	color:#a39d49!important
}
#Kunena .kwho-blocked, #Kunena a.kwho-blocked {
	color:#f00!important
}
#Kunena #ktop {
	background-color:transparent;
	color:#000
}
#ktab div.moduletable ul.menu, #ktab div.moduletable ul.menu li a, #ktab div.moduletable ul.menu li a span {
	background-image:none!important
}
#Kunena #ktab a {
	color:#fff!important;
	background-color:#737373
}
#Kunena #ktab a span {
	font-family:Arial, Helvetica, sans-serif;
	color:#fff
}
#Kunena #ktab a:hover span, #Kunena #ktab li.Kunena-item-active a span {
	color:#fff
}
#Kunena select, #Kunena select:focus, #Kunena select:hover {
	border-color:#999;
	color:#000
}

