/*reset css*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  margin: 0;
  padding: 0;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  font-weight: normal; }

a {
  cursor: pointer; }

ol, ul, li {
  list-style: none outside none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

b, strong {
  font-weight: bold; }

.clear {
  clear: both; }

/*main css*/
#wrapper {
  background: url(../image-home/bg.png);
  width: 100%; }
  #wrapper .header {
    width: 1024px;
    margin: 0 auto 20px;
    position: relative;
    min-height: 680px; }
    #wrapper .header .header-content {
      width: 1000px;
      margin: 0 auto;
      border: 1px solid #212421;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
      background-color: #000000;
      background-image: url(../image-home/header-img.jpg);
      background-position: top left;
      background-repeat: no-repeat;
      overflow: auto;
      padding-bottom: 20px; }
    #wrapper .header img.header-label-top {
      position: absolute;
      top: 0;
      right: 0; }
    #wrapper .header img.header-arrow {
      position: absolute;
      bottom: 0;
      left: 0; }
  #wrapper .header-content .header-content-left {
    width: 675px;
    float: left; }
    #wrapper .header-content .header-content-left img.header-logo {
      margin-top: 15px;
      margin-left: 30px;
      display: block; }
  #wrapper .header-content .header-content-right {
    width: 320px;
    float: left; }
    #wrapper .header-content .header-content-right .verifies {
      width: 230px;
      margin: 10px 0 5px 0px;
      text-align: right; }
    #wrapper .header-content .header-content-right .order-panel {
      background-image: url(../image-home/header-form-title.png), url(../image-home/bg-payment.jpg);
      background-position: top left,top left;
      background-repeat: no-repeat, repeat-y;
      padding-top: 110px;
      width: 299px;
      border: 1px solid #242124;
      border-radius: 10px;
      margin: 0 auto;
      padding-bottom: 14px; }
  #wrapper .header-content .order-panel .order-form {
    width: 100%; }
    #wrapper .header-content .order-panel .order-form tr {
      height: 35px; }
      #wrapper .header-content .order-panel .order-form tr td.label {
        width: 35%;
        text-align: right;
        color: #EFEFEF;
        font-weight: bold;
        font-size: 13px; }
      #wrapper .header-content .order-panel .order-form tr td.input-text {
        text-align: center; }
        #wrapper .header-content .order-panel .order-form tr td.input-text input[type="text"] {
          height: 22px;
          width: 160px; }
  #wrapper .header-content .order-panel img.btn-order-now {
    margin: 0 auto;
    display: block;
    margin-top: 30px; }
  #wrapper .header-content .order-panel .key-promise {
    background-image: url(../image-home/icon-lock.png);
    background-position: top left;
    background-repeat: no-repeat;
    height: 29px;
    text-align: right;
    width: 228px;
    margin: 0 auto;
    font-size: 14px;
    color: #EFEFEF;
    line-height: 29px; }
